# Ignore dependencies
backend/node_modules
frontend/node_modules

# Ignore build outputs
frontend/build
backend/dist

# Environment files
.env
frontend/.env

# OS files
.DS_Store

# googleAuth credentials
backend/googleauthClient.txt

